COMPOSE_PROJECT_NAME=banking-lakehouse
POSTGRES_PASSWORD=local-bank-demo
AIRFLOW_ADMIN_PASSWORD=local-airflow-demo
AIRFLOW_FERNET_KEY=1TWwjFnHAB5yqPMfltbSkVDxkoAWOKEdvvxSPqlq8Mw=
AIRFLOW_SECRET_KEY=local-only-change-before-sharing
POSTGRES_PORT=5432
AIRFLOW_PORT=8080
TRINO_PORT=8081
HDFS_PORT=9870
SPARK_UI_PORT=8082
ALERT_PORT=8090
SPARK_WORKER_MEMORY=2g
SPARK_WORKER_CORES=2
SPARK_EXECUTOR_MEMORY=1g
SPARK_DRIVER_MEMORY=1g
SPARK_SHUFFLE_PARTITIONS=8
TRINO_HEAP=2G
PG_MEM_LIMIT=512m
NN_MEM_LIMIT=768m
DN_MEM_LIMIT=768m
HMS_MEM_LIMIT=1g
SPARK_MASTER_MEM_LIMIT=512m
SPARK_WORKER_MEM_LIMIT=3g
AIRFLOW_SCHEDULER_MEM_LIMIT=3g
AIRFLOW_WEB_MEM_LIMIT=1g
TRINO_MEM_LIMIT=3g
DQ_MAX_REJECT_RATIO=0.10
FRESHNESS_SECONDS=86400
